PRIVATE_KEY=

BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=

ETHEREUM_RPC_URL=
ETHEREUM_SEPOLIA_RPC_URL=

ETHERSCAN_API_KEY=

NEXT_PUBLIC_BASE_ROTY_CONTRACT=
NEXT_PUBLIC_BASE_MELTING_CONTRACT=
NEXT_PUBLIC_BASE_AMANDA_CONTRACT=
NEXT_PUBLIC_BASE_STAKING_CONTRACT=
NEXT_PUBLIC_BASE_REWARD_DISTRIBUTOR=
NEXT_PUBLIC_BASE_OIOI_TOKEN=0xba0032620d88D9b16752CbDE75593c080C3d38de

NEXT_PUBLIC_ETH_ROTY_CONTRACT=
NEXT_PUBLIC_ETH_MELTING_CONTRACT=
NEXT_PUBLIC_ETH_AMANDA_CONTRACT=
NEXT_PUBLIC_ETH_STAKING_CONTRACT=
NEXT_PUBLIC_ETH_REWARD_DISTRIBUTOR=
NEXT_PUBLIC_ETH_OIOI_TOKEN=0x1C696882b93d7241d09D55f52693cAD367A5bEaf

# Deployment roles
DEPLOYER_ADDRESS=0x29bf68e3969e0b6686ea55b7c48241ba3f6b9ba0
MINT_TREASURY_ADDRESS=0x9e26b98d4fadf70d0c0e57c609347358934a934c
ROYALTY_RECEIVER_ADDRESS=0x29bf68e3969e0b6686ea55b7c48241ba3f6b9ba0

# Project domains
NEXT_PUBLIC_ROTY_BROI_ORIGIN_URL=https://rotybroi.endhonesa.com/
NEXT_PUBLIC_ROTY_BASE_URL=https://rotybase.endhonesa.com/
NEXT_PUBLIC_ROTY_DETH_URL=https://rotydeth.endhonesa.com/
NEXT_PUBLIC_MELTING_BASE_URL=https://meltingbase.endhonesa.com/
NEXT_PUBLIC_MELTING_DETH_URL=https://meltingdeth.endhonesa.com/
NEXT_PUBLIC_AMANDA_BASE_URL=https://amandabase.endhonesa.com/
NEXT_PUBLIC_AMANDA_DETH_URL=https://amandadeth.endhonesa.com/
NEXT_PUBLIC_SOFTSTAKING_URL=https://softstaking.endhonesa.com/

# Testnet $OiOi token addresses
# Fill these after deploying or choosing testnet mock $OiOi tokens.
BASE_SEPOLIA_OIOI_TOKEN=
ETHEREUM_SEPOLIA_OIOI_TOKEN=
